<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>指定されたURLへのアクセス権限がありません。</title>
</head>

<body>

<div class="error" layout:fragment="content">
	<ol class="topic-path">
		<li><a href="/index.html" th:href="@{/}">トップページ</a></li>
		<li>403 Forbidden</li>
	</ol>
	<div class="gridContainer">
		<h3>指定されたURLへのアクセス権限がありません。</h3>
		<br/>
		指定されたページ（URL）はユーザ制限されている可能性があるためアクセスができません。<br/>
		セッション切れなどにより、ログアウトされた場合はログインページからログインしてください。<br/><br/>
		
		ログインページは<a href="/index.html" th:href="@{/}">こちら</a>へ
		<br/><br/><br/>
	</div>
</div>
	

<div layout:fragment="custom-script">

</div>

</body>
</html>